.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 12rem;
  user-select: none;
  touch-action: none;
}

.root[data-orientation="vertical"] {
  height: 12rem;
  width: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.value-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-900);
}

.track {
  position: relative;
  height: 0.25rem;
  width: 100%;
  border-radius: 9999px;
  background-color: var(--color-gray-200);
}

.track[data-orientation="vertical"] {
  width: 0.25rem;
  height: 100%;
}

.fill {
  position: absolute;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--color-gray-700);
}

.fill[data-orientation="vertical"] {
  width: 100%;
  height: unset;
}

.thumb {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: white;
  border: none;
  outline: 1px solid var(--color-gray-300);
  top: -0.375rem;
}

.thumb[data-orientation="vertical"] {
  left: -0.375rem;
  top: unset;
}

.thumb:hover,
.thumb:focus-visible {
  outline: 1px solid var(--color-gray-400);
  box-shadow: 0 0 0 4px color-mix(in srgb, var(--color-gray-400) 30%, transparent);
}

.thumb[data-disabled] {
  opacity: 0.5;
}
